.confirm-button {
  color: white;
  border-color: white;
  &:hover {
    color: purple !important;
    border-color: purple;
    background-color: white !important;
  }
}

.confirm-button-dialog {
  color: purple;
  border-color: purple;
  &:hover {
    color: white !important;
    background-color: purple !important;
  }
}

.cbg-to-left {
  background: linear-gradient(to left, #9820e0, #dc43f2);
}
.cbg-to-right {
  background: linear-gradient(to right, #9820e0, #dc43f2);
}
